<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.generator.mapper.DocumentMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.generator.domain.Document">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="externalId" column="external_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,external_id
    </sql>
    <insert id="save" parameterType="com.example.demo.generator.domain.Document">
        insert into document(<include refid="Base_Column_List"/> values (#{id},#{name},#{external_id});
    </insert>

    <select id="select" resultMap="BaseResultMap">
        select * from document where id in
        <foreach item="documentId" collection="list"   open="(" separator="," close=")">
            (#{documentId})
        </foreach>
    </select>
</mapper>
