<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.generator.mapper.ProductClassficationRelationMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.generator.domain.ProductClassficationRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="classficationId" column="classfication_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,classfication_id
    </sql>
</mapper>
